.dash-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aliceblue; */
}

.main-content{
    display: flex;
    flex-direction: row;
}

.status-body{
    backdrop-filter: blur(2px);
}

.status-navbar{
    background: linear-gradient(45deg, rgba(69, 69, 69, 0.8379726890756303) 15%, rgba(0, 0, 0, 1) 51%);
    /* background-color: aliceblue; */
    width: calc(100vw - 300px);
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-grp{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.timezone{
    color: white;
    z-index: 22;
}