.pass-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.pass-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 350px;
    width: 300px;
}

.pass-lable {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.pass-inp {
    padding: 0.5em;
    font-size: 1.0em;
}

.pass-btn {
    padding: 0.5em;
    font-size: 1em;
    width: 160px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pass-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.verify-btn button {
    width: 160px;
}

.fogimg {
    position: absolute;
    top: 23%;
    left: 46%;
}

.fogimg img {
    border: 5px solid white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.inp-bosy {
    display: flex;
    justify-content: center;
}

.inpcss {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999999;
    outline: none;
    margin-left: 2px;
    margin-right: 2px;
}

.popup{
    z-index: 222;
    position: absolute;
}